.content {
  background: #1F4068;
  margin-top: 4vh;
  height: 40vh;
}

.content2 {
  background: #006e7c;
  margin-top: 4vh;
  height: 40vh;
}

.content3 {
  background: #142850;
  margin-top: 4vh;
  height: 40vh;
  margin-bottom: 4vh;
}
