.sidebar {
  position: fixed;
  left: 0;
  width: 16vw;
  height: 100vh;
  background: #1F4068;
}

.sidebar header {
  font-size: 22pt;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #006e7c;
  user-select: none;
}

.sidebar ul {
  list-style: none;
  margin: 0 !important;
  padding: 0;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 8vh;
  font-size: 20pt;
  color: white;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  /*border-top: 1px solid white;*/
  border-bottom: 1px solid white;
  transition: .4s
}

ul li:hover a {
  padding-left: 50px;
  background: #006E7C;
  /*font-weight: bolder;*/
  text-shadow: 1px 0 0 goldenrod;
  color: goldenrod;
}
